@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    user-select: none;
}

.home_button {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 0 100px rgb(255, 0, 0,0.5);
    font-size: 10px;
}

#home{
    height: 100vh;
    background-image: url(../images/home1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.H {
    user-select: none;
    font-size: 450px;
    font-weight: bold;
    color: white;
    opacity: 0.2;
    margin: 0% 0 0 15%;
    position: absolute;
    font-family: 'Roboto Slab', serif;
}

.nav-bar {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.nav-bar img {
    width: 130px;
    height: 30px;
    margin-top: 30px;
}

.nav-bar nav {
    font-family: 'Roboto Slab', serif;
    margin-top: 30px; 
}

.nav-bar a {
    color: white;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-bar a:hover {
    color: #c1b086;
}

#home span {
    width: 200px;
    font-family: 'Roboto Slab', serif;
    top: 25%;
    position: relative;
    color: white;
}

#home span h1 {
    width: 200px;
    font-size: 80px;
    margin: 0 0 0 15%;
    font-family: 'Roboto Slab', serif;
}

#home span p {
    font-size: 15px;
    margin: 2.5% 0 0 17.5%;
    width: 47.5%;
    font-family: 'Roboto Slab', serif;
}

#about {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#amenities {
    background-color:rgb(193, 176, 134, 0.2);
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#amenities img {
    width: 100%;
    height: 70%;
    border-top: #c1b086 4px solid;
    border-bottom: #c1b086 4px solid;
}

#amenities .container_blue {
    background-color: rgb(48, 158, 221);
    color: white;
    width: 49%;
    height: 52%;
    justify-content: center;
    align-items: center;
    border: #c1b086 4px solid;
    border-radius: 20px;
    position: absolute;
    right: 7%;
    bottom: 5%;
    opacity: 0.5;
    box-shadow: 5px 5px 5px black;
    transition: 0.5s ease;
}

#amenities .container_blue:hover {
    opacity: 1;
}

#amenities span {
    display: inline-block;
    margin: 5% 5% 5% 5%;
}

#amenities .icone_container {
    display: flex;
    justify-content: space-around;
    margin: -5% 0 0 5%;
}

#amenities ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -10%;
}

#amenities ul li {
    margin: 30px;

}

#amenities ul li i {
    margin-right: 30px;
}

#amenities .home_button {
    position: absolute;
    right: 1%;
    bottom: 3%;
}

#rooms {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#restaurant {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#gallery {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}