@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_button {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 0 100px rgb(255, 0, 0,0.5);
    font-size: 10px;
}

#home{
    height: 100vh;
    background-image: url(../images/home1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.H {
    font-size: 450px;
    font-weight: bold;
    color: white;
    opacity: 0.2;
    margin: 0% 0 0 15%;
    position: absolute;
    font-family: 'Roboto Slab', serif;
}

.nav-bar {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.nav-bar img {
    width: 130px;
    height: 30px;
    margin-top: 30px;
}

.nav-bar nav {
    font-family: 'Roboto Slab', serif;
    margin-top: 30px; 
}

.nav-bar a {
    color: white;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-bar a:hover {
    color: #c1b086;
}

#home span {
    width: 200px;
    font-family: 'Roboto Slab', serif;
    top: 25%;
    position: relative;
    color: white;
}

#home span h1 {
    width: 200px;
    font-size: 80px;
    margin: 0 0 0 15%;
    font-family: 'Roboto Slab', serif;
}

#home span p {
    font-size: 15px;
    margin: 2.5% 0 0 17.5%;
    width: 47.5%;
    font-family: 'Roboto Slab', serif;
}

#about {
    background-color:rgb(193, 176, 134, 0.2);
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
    justify-content: center;
}

#about img.section_about_img1 {
    width: 350px;
    height: 500px;
    position: relative;
}

#about img.section_about_img2 {
    width: 400px;
    height: 250px;
    position: relative;
}

#about span {
    display: inline-block;
    width: 40%;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#about span h1 {
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 0 0;
}

#about span h2 {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 0 0;
    color: #664f14;
}

#about span h2::before {
    margin-bottom: 10px;
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color:#c1b086;
  }

#about span p {
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
    color: #664f14;
    margin-left: 45px;
}

#about .home_button {
    display: inline-block;
    margin: 40px 0 0 45px;
}

#amenities {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#rooms {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#restaurant {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#gallery {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}