@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    user-select: none;
}

.home_button {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 0 100px rgb(255, 0, 0,0.5);
    font-size: 10px;
}

img {
    user-select: none;
}

.home_button {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 0 100px rgb(255, 0, 0,0.5);
    font-size: 10px;
}

#home{
    height: 100vh;
    background-image: url(../images/home1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.H {
    user-select: none;
    font-size: 450px;
    font-weight: bold;
    color: white;
    opacity: 0.2;
    margin: 0% 0 0 15%;
    position: absolute;
    font-family: 'Roboto Slab', serif;
}

.nav-bar {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.nav-bar img {
    width: 130px;
    height: 30px;
    margin-top: 30px;
}

.nav-bar nav {
    font-family: 'Roboto Slab', serif;
    margin-top: 30px; 
}

.nav-bar a {
    color: white;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-bar a:hover {
    color: #c1b086;
}

#home span {
    width: 200px;
    font-family: 'Roboto Slab', serif;
    top: 25%;
    position: relative;
    color: white;
}

#home span h1 {
    width: 200px;
    font-size: 80px;
    margin: 0 0 0 15%;
    font-family: 'Roboto Slab', serif;
}

#home span p {
    font-size: 15px;
    margin: 2.5% 0 0 17.5%;
    width: 47.5%;
    font-family: 'Roboto Slab', serif;
}

#about {
    background-color:rgb(193, 176, 134, 0.2);
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
    justify-content: center;
}

#about img {
    position: relative;
    border-radius: 30px;
    border: #c1b086 4px solid;
    box-shadow: 15px 15px 20px black;
    transition: 0.5s ease;
}

#about img:hover {
    scale: 1.3;
}

#about img.section_about_img1 {
    margin: 10% 0 0 12%;
    width: 300px;
    height: 450px;
    position: relative;
}

#about img.section_about_img2 {
    margin: 24% 0 0 -10%;
    width: 350px;
    height: 230px;
    position: absolute;
}

#about span {
    display: inline-block;
    width: 40%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    left: 400px;
    top: -13%;
}

#about span h1 {
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    margin: 10px 0 30px 0;
}

#about span h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
    color: #664f14;
}

#about span h2::before {
    margin-bottom: 25px;
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color:#c1b086;
  }

#about span p {
    font-size: 11px;
    font-family: 'Roboto Slab', serif;
    color: #664f14;
    margin-left: 45px;
    margin-bottom: 20px;
    width: 90%;
}



#about .home_button {
    display: inline-block;
    margin: 40px 0 0 45px;
}

#amenities {
    background-color:rgb(193, 176, 134, 0.2);
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#amenities img {
    width: 100%;
    height: 70%;
    border-top: #c1b086 4px solid;
    border-bottom: #c1b086 4px solid;
}

#amenities .container_blue {
    background-color: rgb(48, 158, 221);
    color: white;
    width: 49%;
    height: 52%;
    justify-content: center;
    align-items: center;
    border: #c1b086 4px solid;
    border-radius: 20px;
    position: absolute;
    right: 7%;
    bottom: 5%;
    opacity: 0.5;
    box-shadow: 5px 5px 5px black;
    transition: 0.5s ease;
}

#amenities .container_blue:hover {
    opacity: 1;
}

#amenities span {
    display: inline-block;
    margin: 5% 5% 5% 5%;
}

#amenities .icone_container {
    display: flex;
    justify-content: space-around;
    margin: -5% 0 0 5%;
}

#amenities ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -10%;
}

#amenities ul li {
    margin: 30px;

}

#amenities ul li i {
    margin-right: 30px;
}

#amenities .home_button {
    position: absolute;
    right: 1%;
    bottom: 3%;
}

#rooms {
    background-color:rgb(193, 176, 134, 0.2);
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#rooms span {
    display: inline-block;
    width: 40%;
    font-family: 'Roboto Slab', serif;
    position: relative;
    margin: 2% 0 0 10%;
}

#rooms span h1 {
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    margin: 10px 0 30px 0;
}

#rooms span h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
    color: #664f14;
}

#rooms span h2::before {
    margin-bottom: 25px;
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color:#c1b086;
  }

#rooms .home_button {
    right: 10%;
    top: 10%;
    position: absolute;
}

#rooms .img_container {
    display: flex;
    margin: 2% 0 0 10%;
    gap: 30px;
    width: 80%;

}

#rooms .img_container .box {
    background-color:rgb(193, 176, 134, 0.1);
    display: inline-block;
    height: 530px;
    width: 480px;
    padding: 0;
    border-radius: 30px;
    border: #c1b086 4px solid;
}

#rooms .img_container .room_info {
    flex-direction: column;
    background-color: white;
    margin-top: auto;
    height: 15%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
}

#rooms .img_container .box#room1 {
    background-image: url(../images/r1.jpg);
    background-size: cover;
    background-position: center;
    bottom: 0;
    display: flex;
    flex-direction: column;

}


#rooms .img_container .box#room2 {
    background-image: url(../images/r2.jpg);
    background-size: cover;
    background-position: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#rooms .img_container .box#room3 {
    background-image: url(../images/r3.jpg);
    background-size: cover;
    background-position: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

#rooms .img_container span {
    width: 100%;
    margin: 0 0 0 10px;
}

#rooms .img_container p {
    width: 100%;
    margin: 5px 0 0 10px ;
}

#rooms .img_container p::before {
    content: "$";
    font-size: 0.8em;
    color: #c1b086;
}

#rooms .img_container p::after {
    content: " /per night";
    font-size: 0.8em;
    color: #c1b086;
}

#rooms .img_container h1 {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin: 10px 0 0 10px;
}

#restaurant {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
    display: flex;
    background-color:rgb(193, 176, 134, 0.2);
}

#restaurant .section_restaurant_img1 {
    margin: 2% 0 0 10%;
    width: 28%;
    height: 85%;
    border-radius: 30px;
    background-image: url(../images/re.jpg);
    background-size: cover;
    border: #c1b086 4px solid;
}

#restaurant span h1 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 60px 0;
}

#restaurant span h1::before {
    margin-bottom: 20px;
    content: "";
    display: block;
    width: 110px;
    height: 4px;
    background-color:#c1b086;
}

#restaurant span p {
    font-size: 15px;
    width: 50%;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 30px 55px;
}

#restaurant .home_button {
    position: absolute;
    right: 12%;
    top: 15%;
}



#restaurant .restaurant_container {
    margin: 2% 0 0 1%;
    width: 50%;
    height: 100%;
}

#restaurant .restaurant_row {
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

#restaurant .restaurant_box {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    width: 70vh;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border: #c1b086 4px solid;
    border-radius: 30px;
    color: white;
}

#restaurant .restaurant_box .food_name {
    transform: translateY(150px);
    background-color:rgb(193, 176, 134);
    width: 100%;
    padding-top: 2%;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transition: 1s ease;
}

#restaurant .restaurant_box .food_info {
    transform: translateY(-100px);
    background-color:rgb(193, 176, 134);
    width: 90%;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0;
    transition: 1s ease;
}

#restaurant .restaurant_box:hover .food_name {
    opacity: 0.9;
    transform: translateY(-10px);
}

#restaurant .restaurant_box:hover .food_info {
    opacity: 0.9;
    transform: translateY(20px);
}

#gallery {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
    background-color:rgb(193, 176, 134, 0.2);
}

#gallery span {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    margin: 1% 0 0 10%;
    position: relative;
}

#gallery span h1 {
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    margin: 10px 0 30px 0;
}

#gallery span h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
    color: #664f14;
}

#gallery span h2::before {
    margin-bottom: 40px;
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color:#c1b086;
  }

#gallery .home_button {
    position: absolute;
    right: 12%;
    top: 50%;
}

#gallery .img_portfolio {
    margin: 3% 0 0 10%;
    width: 80%;
    height: 70vh;
    display: flex;
    gap: 5px;
}

#gallery .img_container {
    width: 5%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: 100px;
    border: #c1b086 4px solid;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    transition: 1s ease;
}


#img1:checked ~ .img_container:nth-of-type(1),
#img2:checked ~ .img_container:nth-of-type(2),
#img3:checked ~ .img_container:nth-of-type(3),
#img4:checked ~ .img_container:nth-of-type(4),
#img5:checked ~ .img_container:nth-of-type(5),
#img6:checked ~ .img_container:nth-of-type(6),
#img7:checked ~ .img_container:nth-of-type(7),
#img8:checked ~ .img_container:nth-of-type(8) {
    width: 100%;
}