@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    user-select: none;
}

.home_button {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 15px 30px 15px 30px;
    background-color: #c1b086;
    border-radius: 30px;
    border: white 2px solid;
    box-shadow: 0 0 100px rgb(255, 0, 0,0.5);
    font-size: 10px;
}

#home{
    height: 100vh;
    background-image: url(../images/home1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.H {
    user-select: none;
    font-size: 450px;
    font-weight: bold;
    color: white;
    opacity: 0.2;
    margin: 0% 0 0 15%;
    position: absolute;
    font-family: 'Roboto Slab', serif;
}

.nav-bar {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.nav-bar img {
    width: 130px;
    height: 30px;
    margin-top: 30px;
}

.nav-bar nav {
    font-family: 'Roboto Slab', serif;
    margin-top: 30px; 
}

.nav-bar a {
    color: white;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-bar a:hover {
    color: #c1b086;
}

#home span {
    width: 200px;
    font-family: 'Roboto Slab', serif;
    top: 25%;
    position: relative;
    color: white;
}

#home span h1 {
    width: 200px;
    font-size: 80px;
    margin: 0 0 0 15%;
    font-family: 'Roboto Slab', serif;
}

#home span p {
    font-size: 15px;
    margin: 2.5% 0 0 17.5%;
    width: 47.5%;
    font-family: 'Roboto Slab', serif;
}

#about {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#amenities {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#rooms {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

#restaurant {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
    display: flex;
    background-color:rgb(193, 176, 134, 0.2);
}

#restaurant .section_restaurant_img1 {
    margin: 2% 0 0 10%;
    width: 28%;
    height: 85%;
    border-radius: 30px;
    background-image: url(../images/re.jpg);
    background-size: cover;
    border: #c1b086 4px solid;
}

#restaurant span h1 {
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 60px 0;
}

#restaurant span h1::before {
    margin-bottom: 20px;
    content: "";
    display: block;
    width: 110px;
    height: 4px;
    background-color:#c1b086;
}

#restaurant span p {
    font-size: 15px;
    width: 50%;
    font-family: 'Roboto Slab', serif;
    margin: 0 0 30px 55px;
}

#restaurant .home_button {
    position: absolute;
    right: 12%;
    top: 15%;
}



#restaurant .restaurant_container {
    margin: 2% 0 0 1%;
    width: 50%;
    height: 100%;
}

#restaurant .restaurant_row {
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
}

#restaurant .restaurant_box {
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    width: 70vh;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border: #c1b086 4px solid;
    border-radius: 30px;
    color: white;
}

#restaurant .restaurant_box .food_name {
    transform: translateY(150px);
    background-color:rgb(193, 176, 134);
    width: 100%;
    padding-top: 2%;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transition: 1s ease;
}

#restaurant .restaurant_box .food_info {
    transform: translateY(-100px);
    background-color:rgb(193, 176, 134);
    width: 90%;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    opacity: 0;
    transition: 1s ease;
}

#restaurant .restaurant_box:hover .food_name {
    opacity: 0.9;
    transform: translateY(-10px);
}

#restaurant .restaurant_box:hover .food_info {
    opacity: 0.9;
    transform: translateY(20px);
}

#gallery {
    height: 100vh;
    font-family: 'Roboto Slab', serif;
    position: relative;
}